:root {
    --primary: #99d6ff;
    --secondary: #0099ff;
    --tertiary: #f2f2f2; 
    --light:#e6f5ff;
    --dark:#0066ff;
}

*{
   width: auto;
      
}

  

body {
    background-color: var(--primary);
    
}


/* Page Title Styles */
.headerbar {
  color: var(--light); 
  text-align: center; 
  background-color: var(--secondary);
}

#city-choice , #five-day {
    font-weight: bold;
    background-color: var(--light);
   

}

 #search-box {
    margin-bottom: 15px;
    width: 200px;
}

#search-box :placeholder-shown {
 font-weight: bold;

}

#searchButton {
    background-color: var(--light);
    width: 305px;
    
    
}

.buttons {
    background-color: var(--light);
    width: 400px;
}











